@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Roboto, sans-serif, arial;
  }
  
  body {
    background: #fff;
    scroll-behavior: smooth;
    font-style: normal;
    line-height: 1.65;
  }
  
  a {
    text-decoration: none;
    color: #303030;
  }

  

/* Nav Bar Section */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0;
  z-index: 2;
  padding-right: 30px;
  background-color: #fff;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #f5f5f5;
}

.logo {
  display: flex;
  width: 20%;
  margin-bottom: 20px;
  margin-right: 10%;
  margin-left: 65px;
}

.logo img {
  width: 215px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
}

.logo-text {
  position: relative;
  margin-top: 37px;
  font-size: 18px;
}

.logo-line {
  width: 1px;
  height: 25px;
  background-color: #56a0d3;
  margin: 30px 10px 0 10px;
  transition: all 0.3s ease;
  position: relative;
  left: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  height: 80px;
  position: relative;
  left: -115px;
}

.nav-links2 {
  display: none;
}

.nav-links li {
  display: block;
  flex-grow: 1;
  text-align: center;
  font-size: 14px;
  position: relative;
  margin-top: 30px;
}

.nav-links li:hover {
  border-bottom: 2px solid #303030;
}

.nav-links a {
  color: #303030;
  text-decoration: none;
  width: 5px;
}

.header-icons {
  display: block;
  width: 100px;
  z-index: 15;
  position: relative;
  top: 5px;
  right: 0%;
  margin-left: 10%;
}

.header-icons img {
  width: 18px;
  margin-left: 20px;
}

.header-icons a {
  border-bottom: none;
}

.burger {
  display: none;
  cursor: pointer;
  margin-top: 0px;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  width: 25px;
  height: 3px;
  background-color: #56a0d3;
  border-radius: 2px;
  margin: 4px 20px 0 0;
  transition: all 0.3s ease;
}

  /* Responsiv max-w 1215px */
  @media only screen and (max-width: 1215px) {
    .logo {
      width: 22%;
    }

    .nav-links {
      position: relative;
      left: -75px;
    }
  }
  /* End of Responsiv max-w 1215px */

  /* Responsiv max-w 1080px */
  @media only screen and (max-width: 1115px) {
    body {
      overflow-x: hidden;
    }

    .logo {
      display: flex;
      flex: 2;
      width: 40%;
      margin-left: 7%;
      margin-right: 3%;
    }

    .logo img {
      width: 200px;
      padding-bottom: 10px;
    }

    .nav-links {
      position: absolute;
      left: 0px;
      height: 89vh;
      top: 11vh;
      display: flex;
      flex-direction: column;
      align-items: right;
      width: 100%;
      transform: translateX(100%);
      transition: 0.5s ease-in;
      font-size: 0.875rem;
    }

    .nav-links li {
      opacity: 0;
      width: 100%;
      transition: 0.2s;
      text-align: left;
      font-size: 25px;
      text-transform: uppercase;
      font-family: "Roboto Condensed",sans-serif,arial;
      position: relative;
      top: -15px;
    }

    .nav-links li:hover {
      border-bottom: none;
    }

    .nav-links a {
      color: #fff;
      width: 100%;
      display: none;
      margin-left: 5%;
      margin-top: 15px;
    }

    .header-icons {
      display: none;
    }

    .burger {
      display: block;
      margin-right: 0;
      z-index: 3;
    }

    .nav-active {
      transform: translateX(0%);
      background-color: #303030;
      color: #fff;
    }

    .nav-active a {
      display: block;
    }

    .nav-active li:hover {
      background: rgba(219, 216, 216, 0.15);
    }

    .nav-links li:hover a {
      color: #303030;
      font-weight: 700;
    }

    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    .menu {
      position: absolute;
      transform: translateX(-55px);
      color: #56a0d3;
      font-weight: 600;
      transition: all 0.3s ease;
      top: 30px;
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    .toggle .line2 {
      opacity: 0;
    }

    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -5px);
    }
  }
  /* End of Responsiv max-w 1080px */
/* End of Nav Bar Section */






/* Content Section 1 - Hero */
#hero .bg {
  background-image: url(./img/ur-hero.jpg);
  background-size: cover;
  background-position: bottom center;
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  opacity: .5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33% 33% 33%;
}

#hero h4 {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  align-items: center;
  position: relative;
  top: -400px;
}

#hero h2 {
  max-width: 700px;
  width: auto;
  margin: 0px auto;
  text-align: center;
  align-items: center;
  position: relative;
  font-size: 32px;
  top: -400px;
}

#hero .btn {
  position: relative;
  display: block;
  margin: 0 auto;
  top: -330px;
  padding: 8px 42px 7px 42px;
  min-width: 130px;
  border: 0;
  border-radius: 100px;
  background-color: #56a0d3;
  cursor: pointer;
  font-family: Roboto,sans-serif,arial;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  outline: 0;
  transition: padding .2s;
}

#hero .btn a {
  color: #fff;
}

.btn:hover {
  padding: 8px 31px 7px 31px;
  background: transparent url(./img/ur-icons/ylw-arrow.png) no-repeat right top;
  width: 10px;
  vertical-align: middle;
  background-size: auto 11px;
}
/* End of Content Section 1 - Hero */


/* Content Section 2 - Collab */
#experiences {
  height: 60vh;
  width: 100%;
  text-align: center;
  position: relative;
  top: -100px;
  margin: 0px auto;
}

.exp-header {
  height: 300px;
  width: 600px;
  text-align: center;
  margin: 0px auto;
  position: relative;
  top: -50px;
  text-transform: uppercase;
  font-family: "Roboto Condensed",sans-serif,arial;
  font-size: 1.5rem;
  color: #303030;
}

.exp-container {
  height: 40vh;
  width: 95%;
  margin: 0px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  position: relative;
  top: -150px;
}

.exp1 {
grid-column: 1/1;
grid-row: 1/1;
text-align: center;
background-color: #fff;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 20% 20% 20% 20% 20%;
}

  .exp1 img {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 130px;
    margin: 20px auto 0 auto;
  }

  .exp1 h1 {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    position: relative;
    top: 50px;
  }

  .exp1 h2 {
    grid-column: 1/1;
    grid-row: 3/3;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    position: relative;
    top: 15px;
  }

  .exp1:hover {
    box-shadow: 0 8px 28px 0 #ececec;
  }

  .button2 {
    border-radius: 20px;
    background-color: #56a0d3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 123px;
    height: 30px;
    cursor: pointer;
    margin: 5px auto;
    position: relative;
    top: 40px;
  }
  
  .button2 span {
    cursor: pointer;
    position: relative;
    transition: 0.2s;
  }
  
  .button2 span:after {
    content: url(img/ylw-arrow.png);
    position: absolute;
    opacity: 0;
    transition: 0.2s;
  }
  
  .button2:hover span {
    padding-right: 30px;
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }

.exp2 {
  grid-column: 2/2;
  grid-row: 1/1;
  text-align: center;
}

  .exp2 img {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 150px;
    margin: 20px auto 0 auto;
  }

  .exp2 h1 {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    position: relative;
    top: 7px;
  }

  .exp2 h2 {
    grid-column: 1/1;
    grid-row: 3/3;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    position: relative;
    top: 15px;
  }

  .exp2:hover {
    box-shadow: 0 8px 28px 0 #ececec;
  }

  .button3 {
    border-radius: 20px;
    background-color: #56a0d3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 123px;
    height: 30px;
    cursor: pointer;
    margin: 5px auto;
    position: relative;
    top: 63px;
  }
  
  .button3 span {
    cursor: pointer;
    position: relative;
    transition: 0.2s;
  }
  
  .button3 span:after {
    content: url(img/ylw-arrow.png);
    position: absolute;
    opacity: 0;
    transition: 0.2s;
  }
  
  .button3:hover span {
    padding-right: 30px;
  }
  
  .button3:hover span:after {
    opacity: 1;
    right: 0;
  }

.exp3 {
  grid-column: 3/3;
  grid-row: 1/1;
  text-align: center;
}

  .exp3 img {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 155px;
    margin: 20px auto 0 auto;
  }

  .exp3 h1 {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    position: relative;
    top: 7px;
  }

  .exp3 h2 {
    grid-column: 1/1;
    grid-row: 3/3;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    position: relative;
    top: 15px;
  }

  .exp3:hover {
    box-shadow: 0 8px 28px 0 #ececec;
  }

  .button4 {
    border-radius: 20px;
    background-color: #56a0d3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 123px;
    height: 30px;
    cursor: pointer;
    margin: 5px auto;
    position: relative;
    top: 63px;
  }
  
  .button4 span {
    cursor: pointer;
    position: relative;
    transition: 0.2s;
  }
  
  .button4 span:after {
    content: url(img/ylw-arrow.png);
    position: absolute;
    opacity: 0;
    transition: 0.2s;
  }
  
  .button4:hover span {
    padding-right: 30px;
  }
  
  .button4:hover span:after {
    opacity: 1;
    right: 0;
  }
.exp4 {
  grid-column: 4/4;
  grid-row: 1/1;
  text-align: center;
}

  .exp4 img {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 180px;
    margin: 20px auto 0 auto;
  }

  .exp4 h1 {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    position: relative;
    top: 19px;
  }

  .exp4 h2 {
    grid-column: 1/1;
    grid-row: 3/3;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    position: relative;
    top: 25px;
  }

  .exp4:hover {
    box-shadow: 0 8px 28px 0 #ececec;
  }

  .button5 {
    border-radius: 20px;
    background-color: #56a0d3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 123px;
    height: 30px;
    cursor: pointer;
    margin: 5px auto;
    position: relative;
    top: 43px;
  }
  
  .button5 span {
    cursor: pointer;
    position: relative;
    transition: 0.2s;
  }
  
  .button5 span:after {
    content: url(img/ylw-arrow.png);
    position: absolute;
    opacity: 0;
    transition: 0.2s;
  }
  
  .button5:hover span {
    padding-right: 30px;
  }
  
  .button5:hover span:after {
    opacity: 1;
    right: 0;
  }
/* End of Content Section 2 */





/* Footer Section */
footer {
  display: flex;
  width: 100%;
  height: 88vh;
  z-index: 2;
  position: relative;
  overflow: hidden;
  background-color: orange;
}

.footer-container {
  width: 100%;
  height: 100%;
  background: #303030 url(/img/ur_bg.png) no-repeat top center;
}

.footer-grid {
  height: 88vh;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15% 65% 20%;
}

.footer-logo {
  grid-column: 1/6;
  grid-row: 1/1;
  text-align: center;
}

.footer-logo img {
  width: 250px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 20px auto 0 200px;
}

.footer-lists {
  grid-column: 1/6;
  grid-row: 2/2;
  width: 120%;
  margin-left: auto;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
}

.footer-column li {
  list-style: none;
  margin-left: 18%;
}

.footer-column {
  color: #fff;
  font-weight: 300;
  margin-top: 6px;
  display: block;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
}

.footer-column h4 {
  font-family: "Roboto Condensed",sans-serif,arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
  margin-left: 18%;
}

.footer-column a {
  color: #fff;
  text-align: left;
}

.footer-column li {
  color: #fff;
  margin-top: 10px;
  text-align: left;
}

.footer-text {
  grid-column: 1/4;
  grid-row: 3/3;
  width: 100%;
  margin-left: 10%;
  display: inline-block;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin-right: 20px;
  position: relative;
  top: 0px;
}

.footer-text a {
  color: #56a0d3;
}

.footer-text pre {
  font-family: Roboto, sans-serif, arial;
}

.footer-social {
  display: flex;
  width: 50%;
  margin-right: 10%;
  z-index: 15;
  position: relative;
  bottom: -450px;
  right: 100px;
}

.footer-social img {
  width: 33px;
  padding-left: 5px;
  margin-bottom: 50px;
  opacity: 1;
}

.footer-social img:hover {
  opacity: .5;
}


    /* Responsiv max-w 1180px */
    @media only screen and (max-width: 1180px) {
      .footer-column h4 {
        margin-left: 20%;
      }
    }
    /* Responsiv max-w 988px */
    @media only screen and (max-width: 988px) {
      .footer-column h4 {
        margin-left: 24%;
      }

      .footer-text {
        width: 120%;
      }
    }
    /* Responsiv max-w 800px */
    @media only screen and (max-width: 800px) {
      .footer-column h4 {
        margin-left: 29%;
      }

      .footer-social {
        bottom: -550px;
        right: -450px;
      }
    }
    /* Responsiv max-w 745px */
    @media only screen and (max-width: 790px) {
      footer {
        display: flex-end;
        width: 100%;
        height: 120vh;
        z-index: 10;
        position: relative;
        bottom: -500px;
      }
      
      .footer-container {
        background: #303030 url(/img/ur_bg-big.png) no-repeat top center;
      }

      .footer-grid {
        height: 50vh;
        margin-top: 5vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15% 21.5% 21.5% 21.5% 20%;
      }
      
      .footer-lists {
        height: 150vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15% 21.5% 21.5% 21.5% 20%;
        grid-gap: 120px;
        width: 90%;
        margin: 10vh auto;
      }

      .footer-column {
        height: 20vh;
        text-align: left;

      }

      .footer-column h4 {
        margin-bottom: 12px;
        margin-left: 30%;
        width: 50%;
      }

      .footer-logo img {
        margin: 20px auto;
      }

      .footer-text {
        width: 50%;
        position: relative;
        top: -100px;
      }
    }

        /* Responsiv max-w 800px */
        @media only screen and (max-width: 710px) {
          .footer-social {
            right: -300px;
          }
        }

/* End of Footer Section */