* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Roboto, sans-serif, arial;
  }
  
  body {
    background: #fff;
    scroll-behavior: smooth;
    font-style: normal;
    line-height: 1.65;
  }
  
  a {
    text-decoration: none;
    color: #303030;
  }
  

  /* Nav Bar Section */
  nav {
    height: 12vh;
    width: 120%;
    display: grid;
    grid-template-columns: 5% 1% 89% 5%;
    grid-template-rows: 100%;
    z-index: 5;
    position: fixed;
    background-color: #fff;
  }

  .logo {
    display: flex;
    width: 30%;
    margin-left: 60px;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 210px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
  }

  .logo-line {
    width: 1px;
    height: 25px;
    background-color: #56a0d3;
    margin: 30px 10px 0 10px;
    transition: all 0.3s ease;
    grid-column: 2/2;
    grid-row: 1/1;
    position: relative;
    left: 215px;
  }

  nav ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 180px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  nav li {
    color: black;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: .8125rem;
    grid-column: 3/3;
    grid-row: 1/1;
  }
  
  nav li a {
    color: Black;
  }
  
  nav li:hover,
  nav li:focus-within {
    cursor: pointer;
    border-bottom: 2px solid #303030;
  }
  
  nav li:focus-within a {
    outline: none;
    border-bottom: 2px solid #303030;
  }
  
  nav ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  nav ul li:hover > ul,
  nav ul li:focus-within > ul,
  nav ul li ul:hover,
  nav ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  nav ul li ul li {
    clear: both;
    width: 225px;
  }
  
  .head-overlay{
    top: calc(100% - 12px);
    left: 150px;
    right: 0;
    width: auto;
    padding: 0;
    position: absolute;
    z-index: 5;
  }
  
  .Head-overlay-content{
    box-shadow: 0 8px 24px rgb(0 0 0 / 13%);
    transition-property: max-height;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      transition-delay: 0s;
  }
  
  .wrapper1{
    display: flex;
    align-items: stretch;
    padding: 36px 40px 30px 40px;
    white-space: normal;
    justify-content: start;
    font-size: 12px;
  }
  
  .wrapper1-item *{
      flex: 0 1 33.33%;
  }
  
  .link-label{
    display: block;
    margin-left: 27px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #b9b9b9;
    text-transform: uppercase;
  }
  
  .grid-gap1{
      margin-bottom: 10px;
  }
  
  .help-width{
    width: 100%;
  }
  
  .tease-link{
    display: block;
      padding: 10px 24px;
      white-space: normal;
      font-family: Roboto,sans-serif,arial;
      background: 0 0;
      border-left: 3px solid transparent;
      box-shadow: 0 8px 24px transparent;
      border-radius: 3px;
      text-decoration: none;
      transition: border-color .2s,box-shadow .2s;
  }
  
  .tease-link h1{
    font-weight: 500px;
    font-size: 16px;
    line-height: 22px;
    color: #303030;
    transition: color .2s;
  }
  
  .tease-link p{
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #747474;
  }
  
  .link-seperator{
    flex: 0 0 1px;
    background-color: #ececec;
    margin: 0 10px;
  }

  .header-icons {
    display: block;
    width: 100px;
    z-index: 15;
    position: relative;
    top: -20px;
    right: -300%;
    margin-left: 10%;
    
  }
  
  .header-icons img {
    width: 18px;
    margin-left: 20px;
  }

  .header-icons a {
    border-bottom: none;
  }

  .burger {
    display: none;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .burger .line1,
  .burger .line2,
  .burger .line3 {
    width: 25px;
    height: 3px;
    background-color: #56a0d3;
    border-radius: 2px;
    margin: 4px 20px 0 0;
    transition: all 0.3s ease;
  }

      /* Responsiv max-w 900px */
      @media only screen and (max-width: 900px) {
        body {
          overflow-x: hidden;
        }

        .nav-links {
          position: absolute;
          right: 0px;
          height: 86vh;
          top: 12vh;
          display: flex;
          flex-direction: column;
          align-items: right;
          width: 40%;
          transform: translateX(100%);
          transition: 0.5s ease-in;
          font-size: 0.875rem;
        }

        .nav-links li {
          opacity: 0;
          width: 100%;
          transition: 0.2s;
        }

        .nav-links li:hover {
          border-bottom: none;
        }

        .nav-links a {
          color: black;
          width: 80%;
          display: none;
        }

        .burger {
          display: block;
          margin-right: 0;
        }

        .nav-active {
          transform: translateX(0%);
          background-color: #ffffff;
          opacity: 60%;
        }

        .nav-active a {
          display: block;
        }

        .nav-active li:hover {
          background: rgba(219, 216, 216, 0.15);
        }

        .nav-links li:hover a {
          color: #303030;
          font-weight: 700;
        }

        @keyframes navLinkFade {
          from {
            opacity: 0;
            transform: translateX(50px);
          }
          to {
            opacity: 1;
            transform: translateX(0px);
          }
        }

        .menu {
          position: absolute;
          transform: translateX(-55px);
          color: #56a0d3;
          font-weight: 600;
          transition: all 0.3s ease;
          top: 35px;
        }

        .toggle .line1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle .line2 {
          opacity: 0;
        }

        .toggle .line3 {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
      /* End of Responsiv max-w 900px */
  /* End of Nav Bar Section */

/* Content Section */
#sec1 {
  height: 50vh;
}

#sec2 {
  height: 50vh;
}
/* End of Content Section */

/* Footer Section */
footer {
  display: flex;
  width: 100%;
  height: 88vh;
  z-index: 10;
  position: relative;
  bottom: -1000px;
  overflow: hidden;
}

.footer-container {
  width: 100%;
  height: 100%;
  background: #303030 url(/img/ur_bg.png) no-repeat top center;
}

.footer-grid {
  height: 80vh;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15% 65% 20%;
}

.footer-logo {
  grid-column: 1/6;
  grid-row: 1/1;
  text-align: center;
}

.footer-logo img {
  width: 250px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 20px auto 0 200px;
}

.footer-lists {
  grid-column: 1/6;
  grid-row: 2/2;
  width: 120%;
  margin-left: auto;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
}

.footer-column li {
  list-style: none;
  margin-left: 18%;
}

.footer-column {
  color: #fff;
  font-weight: 300;
  margin-top: 6px;
  display: block;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
}

.footer-column h4 {
  font-family: "Roboto Condensed",sans-serif,arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
  margin-left: 18%;
}

.footer-column a {
  color: #fff;
  text-align: left;
}

.footer-column li {
  color: #fff;
  margin-top: 10px;
  text-align: left;
}

.footer-text {
  grid-column: 1/4;
  grid-row: 3/3;
  width: 100%;
  margin-left: 10%;
  display: inline-block;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin-right: 20px;
  position: relative;
  top: 0px;
}

.footer-text a {
  color: #56a0d3;
}

.footer-text pre {
  font-family: Roboto, sans-serif, arial;
}

.footer-social {
  display: flex;
  width: 50%;
  margin-right: 10%;
  z-index: 15;
  position: relative;
  bottom: -450px;
  right: 100px;
}

.footer-social img {
  width: 33px;
  padding-left: 5px;
  margin-bottom: 50px;
  opacity: 1;
}

.footer-social img:hover {
  opacity: .5;
}


    /* Responsiv max-w 1180px */
    @media only screen and (max-width: 1180px) {
      .footer-column h4 {
        margin-left: 20%;
      }
    }
    /* Responsiv max-w 988px */
    @media only screen and (max-width: 988px) {
      .footer-column h4 {
        margin-left: 24%;
      }

      .footer-text {
        width: 120%;
      }
    }
    /* Responsiv max-w 800px */
    @media only screen and (max-width: 800px) {
      .footer-column h4 {
        margin-left: 29%;
      }

      .footer-social {
        bottom: -550px;
        right: -450px;
      }
    }
    /* Responsiv max-w 745px */
    @media only screen and (max-width: 790px) {
      footer {
        display: flex-end;
        width: 100%;
        height: 120vh;
        z-index: 10;
        position: relative;
        bottom: -500px;
      }
      
      .footer-container {
        background: #303030 url(/img/ur_bg-big.png) no-repeat top center;
      }

      .footer-grid {
        height: 50vh;
        margin-top: 5vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15% 21.5% 21.5% 21.5% 20%;
      }
      
      .footer-lists {
        height: 150vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15% 21.5% 21.5% 21.5% 20%;
        grid-gap: 120px;
        width: 90%;
        margin: 10vh auto;
      }

      .footer-column {
        height: 20vh;
        text-align: left;

      }

      .footer-column h4 {
        margin-bottom: 12px;
        margin-left: 30%;
        width: 50%;
      }

      .footer-logo img {
        margin: 20px auto;
      }

      .footer-text {
        width: 50%;
        position: relative;
        top: -100px;
      }
    }

        /* Responsiv max-w 800px */
        @media only screen and (max-width: 710px) {
          .footer-social {
            right: -300px;
          }
        }

/* End of Footer Section */