* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:any-link {
    color: #D0C6B8;
}

a:any-link:hover {
    font-weight: 600;
    color: #d0c6b8;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: white;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}




/* Nav Start */

.logo {
    display: flex;
    flex: 1;
    margin-left: 5%;
}

nav {
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 0;
    background-color: black;
    position: fixed;
    z-index: 2;
    top: 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: .75rem;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #494949;
    text-decoration: none;
    letter-spacing: 2px;
}

/* Nav End */



/* Hero Section */
#hero {
    background: olivegreen;
}


/* End of Hero Section */



/* About Us Section */
#about {
    background: palevioletred;
}


/* End of About Us Section */



/* Contact Us Section */
#contact {
    background: blue;
}


/* End of Contact Us Section */

